body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffe208, #fc0000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Mali;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.604);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
   font-family: Mali;
   font-weight: 800;
   font-size: 12px;
   left: 60px;
   position: relative;
  
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 60px;
    box-sizing: border-box;
    font-family: Mali;
}
.login-container input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #ffe100;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    font-family: Mali;
    font-weight: bold;
    position: relative;
    left: 80px;
}
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}
.login-container h6{
    left:250px;
    position: relative;
    margin: -3px 0 10px -7px;
    color: #23007b;
}
.login-container p {
    text-align: center;
}
.tulogo{
    width: 70px;
    height: 70px;
    position: relative;
    left: 115px;
}
.f1{
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}
.circle1{
    height: 30px;
    width: 40px;
    background-color: rgb(255, 214, 214);
    top:-10px;
    position: relative;
    margin: 5px 10px 0px 0px;
    left: 5px;
    border-radius: 60px;
    border:  2px solid black;
}
.circle1 i{
    margin: 5px 5px 5px 9px;
    position: relative;
    
}
.f2{
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}
.circle2{
    height: 30px;
    width: 40px;
    background-color: rgb(255, 214, 214);
    top:-10px;
    position: relative;
    margin: 5px 20px 0px 0px;
    left: 10px;
    border-radius: 60px;
    border:  2px solid black;
}
.circle2 i{
    margin: 5px 5px 5px 9px;
    position: relative;
    
}
#pop-up{
    height: 350px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.49);
    backdrop-filter: blur(10px);
    position: fixed;
    border-radius: 30px;
    border: 1px solid black;
    scale:1;
    text-align: center;
    padding: 10px;
   font-weight: bold;
   display: none;
   
}
.c1{
    color: #23007b;
}
.dp-div{
    top:50px;
    position: relative;
}
.fdp{
    border-radius: 180px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: rgb(156, 156, 156);
    color: rgb(255, 255, 255);
}
.fdp:hover{
    background-color: rgb(85, 85, 85);
}